{{! Завдання 1. Зробіть , щоб HTML документ мав білий фон  , використовуйте Root селектор}}

{{! Завдання 2. Зробіть, щоб всі елементи на сторінці мали текст чорного кольору  }}

<body>
  {{! Завдання 3. Зробіть, щоб h1 мав Синій колір фону }}

  <section class='m-5 card'>
    <div class='card-header'>Завдання 3</div>
    <div class='card-body'>
      <div>
        <h1>Синій колір</h1>
      </div>
    </div>
  </section>

  {{! Завдання 4. Зробіть, щоб клас green мав текст зеленого кольору  }}

  <section class='m-5 card'>
    <div class='card-header'>Завдання 4</div>
    <div class='card-body'>
      <div>
        <p class='green'>Зелений колір</p>
      </div>
    </div>
  </section>

  {{! Завдання 5. Зробіть, щоб елемент з індинтифікатором blue мав синій колір тексту }}

  <section class='m-5 card'>
    <div class='card-header'>Завдання 5</div>
    <div class='card-body'>
      <div>
        <p id='blue'>Синій колір</p>
      </div>
    </div>
  </section>

  {{! Завдання 6. Зробіть, щоб тег p мав червоний фон ,а тег div мав зелений фон  }}
  {{! Тут вам потрібно використовувати Селектор нащадка }}

  <section class='m-5 card'>
    <div class='card-header'>Завдання 6</div>
    <div class='card-body'>
      <div>
        <div class='box'>
          <div>
            Контент коробки
          </div>
          <p>
            Server
          </p>
        </div>
      </div>
    </div>
  </section>

  {{! Завдання 7. Задайте класу brown коричневий фон та білий колір тексту, використовуйте селектор класу  }}

  <section class='m-5 card'>
    <div class='card-header'>Завдання 7</div>
    <div class='card-body'>
      <div>
        <section class='brown'>
          Коричневий фон, але білий текст
        </section>
      </div>
    </div>
  </section>

  {{! Завдання 8. Зробіть червоний фон для дочірніх елементів тега ul }}
  {{! Використовуйте селектор для позначення дочірних елементів ( parent_tag > children_tag ) }}

  <section class='m-5 card'>
    <div class='card-header'>Завдання 8</div>
    <div class='card-body'>
      <div>
        <ul>
          <li>Елемент 1</li>
          <li>Елемент 2</li>
          <li>Елемент 3</li>
        </ul>
      </div>
    </div>
  </section>

  {{! Завдання 9. Зробіть червоний фон для тегів, які є сестринськими відносно тега button з класом header-button }}
  {{! Використовуйте Сестринські селектори відносно header-button }}

  <section class='m-5 card'>
    <div class='card-header'>Завдання 9</div>
    <div class='card-body'>
      <div>
        <header>
          <button class='header-button'>Click</button>
          <span>Logo</span>
        </header>
      </div>
    </div>
  </section>

  <!--  Завдання 10. Зробіть синій фон для всіх cусідських тегів <p>, тегу який має клас 'susid' , а текст білим застосувавши сусідський селектор  -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 10</div>
    <div class='card-body'>
      <div>
        <p class='susid'>Article</p>
        <p>Article</p>
        <p>Article</p>
        <p>Article</p>
      </div>
    </div>
  </section>

  <!--  Завдання 11. Зробіть жовтий  фон  для класу .salo та індетифікатора #bread   -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 11</div>
    <div class='card-body'>
      <div>
        <p class='salo'>Salo</p>
        <p id='bread'>Bread</p>
        <p>Article</p>
        <p>Article</p>
      </div>
    </div>
  </section>

  <!--                                                              /*  Урок 2  */                                    -->

  <!--  Завдання №1: Для першого елементу списку зробіть колір тексту білим -->
  <!--   Використовуйте Селектор першої дитини :first-child. -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 1</div>
    <div class='card-body'>
      <div class='first-task'>
        <ul>
          <li>Елемент 1</li>
          <li>Елемент 2</li>
          <li>Елемент 3</li>
          <li>Елемент 4</li>
        </ul>
      </div>
    </div>
  </section>

  <!--  Завдання №2:  Змінити колір тексту першого елемента списку в першому блоці ul на жовтий -->
  <!--   Використовуйте Селектор першої дитини :first-child. -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 2</div>
    <div class='card-body'>
      <div class='second-task'>
        <ul>
          <li>Елемент 1</li>
          <li>Елемент 2</li>
        </ul>

        <ul>
          <li>Елемент 1</li>
          <li>Елемент 2</li>
        </ul>
      </div>
    </div>
  </section>

  <!--  Завдання №3:   Змінити фон першого елементу на жовтий в другому блоку ul -->
  <!--   Використовуйте Селектор першої дитини :first-child. -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 3</div>
    <div class='card-body'>
      <div class='third-task'>
        <ul>
          <li>Елемент 1</li>
          <li>Елемент 2</li>
        </ul>

        <ul>
          <li>Елемент 1</li>
          <li>Елемент 2</li>
        </ul>
      </div>
    </div>
  </section>

  <!--  Завдання №4:  Змінити фон останнього елементу списку на жовтий. -->
  <!--   Використовуйте Селектор останньої дитини :last-child. -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 4</div>
    <div class='card-body'>
      <div class='four-task'>
        <ul>
          <li>Елемент 1</li>
          <li>Елемент 2</li>
        </ul>
      </div>
    </div>
  </section>

  <!--  Завдання №5: Змінити колір тексту останнього елемента списку в останньому блоці ul на білий -->
  <!--   Використовуйте Селектор останньої дитини :last-child. -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 5</div>
    <div class='card-body'>
      <div class='five-task'>
        <ul>
          <li>Елемент 1</li>
          <li>Елемент 2</li>
        </ul>

        <ul>
          <li>Елемент 1</li>
          <li>Елемент 2</li>
        </ul>
      </div>
    </div>
  </section>

  <!--  Завдання №6: Змінити колір тексту на червоний у блоках div, які єдині в своєму батьківському елементі section -->
  <!--   Використовуйте Селектор одиничної дитини :only-child -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 6</div>
    <div class='card-body'>
      <div class='only-child-task'>
        <div>Текст блоку 1</div>
      </div>
      <div class='only-child-task'>
        <div>Текст блоку 2</div>
        <div>Текст блоку 2</div>
      </div>
      <div class='only-child-task'>
        <div>Текст блоку 3</div>
      </div>
      <div class='only-child-task'>
        <div>Текст блоку 4</div>
      </div>
    </div>
  </section>

  <!--  Завдання №7:  Застосуйте червоний фон до першого абзацу в div з классом seven-task  -->
  <!--   Використовуйте Селектор першого типу :first-of-type-->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 7</div>
    <div class='card-body'>
      <div class='seven-task'>
        <span>Абзац 0</span>
        <p>Абзац 1</p>
        <p>Абзац 2</p>
        <p>Абзац 3</p>
        <p>Абзац 4</p>
      </div>
    </div>
  </section>

  <!--  Завдання №8:  Застосуйте червоний фон до останнього абзацу в div з классом eight-task  -->
  <!--   Використовуйте Селектор останнього типу :last-of-type-->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 8</div>
    <div class='card-body'>
      <div class='eight-task'>
        <p>Абзац 1</p>
        <p>Абзац 2</p>
        <p>Абзац 3</p>
        <p>Абзац 4</p>
        <span>Абзац 5</span>
      </div>
    </div>
  </section>

  <!--  Завдання №9: Застосуйте жовтий фон для всіх <p> елементів, якщо в батьківському елементі більше не має <p>. -->
  <!--   Використовуйте Селектор одиничного типу :only-of-type-->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 8</div>
    <div class='card-body'>
      <div class='nine-task'>
        <div class='text-wrapper'>
          <p>Це єдиний параграф в своїй категорії</p>
        </div>
        <div class='text-wrapper'>
          <p>Це перший параграф</p>
          <p>Це другий параграф</p>
          <h2>Це перший заголовок h2</h2>
          <h3>Це другий заголовок h2</h3>
        </div>
        <div class='text-wrapper'>
          <p>Це єдиний параграф в своїй категорії</p>
          <h2>Це третій заголовок h2</h2>
        </div>
      </div>
    </div>
  </section>

  <!--   Урок 3  -->

  <!-- Завдання №1.  Зайдайте білий колір тексту всім посиланням які мають атрибут href
      Використовуйте селектор назви атрибута-
   -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 1</div>
    <div class='card-body'>
      <div class='lesson-three-task-one'>
        <nav>
          <ul>
            <li><a>Головна</a></li>
            <li><a href='/products'>Продукти</a></li>
            <li><a href='/services'>Послуги</a></li>
            <li><a href='/about'>Про нас</a></li>
            <li><a href='/contact'>Контакти</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <!--Завдання №2. Зайдайте жовтий колір тексту всім елементам списку які мають атрибут value
      Використовуйте селектор назви атрибута-->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 2</div>
    <div class='card-body'>
      <ol class='lesson-three-task-two'>
        <li value='1'>Елемент 1</li>
        <li> Елемент 2</li>
        <li>Елемент 3</li>
        <li value='1'> Елемент 4</li>
      </ol>
    </div>
  </section>

  <!-- Завдання №3. Застосуйте селектор значення атрибута,
   щоб встановити червоний фон всім елементам списку які мають атрибут 
   value зі значенням '3' -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 3</div>
    <div class='card-body'>
      <ol class='lesson-three-task-three'>
        <li>Елемент 1</li>
        <li> Елемент 2</li>
        <li value='3'>Елемент 3</li>
        <li> Елемент 4</li>
      </ol>
    </div>
  </section>

  <!-- Завдання №4. Застосуйте селектор наявності значення атрибута,
    щоб встановити синій фон для кнопки з класом "primary"  .-->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 4</div>
    <div class='card-body'>
      <div class='lesson-three-task-four'>
        <button class='primary action'>Primary Button</button>
        <button class='secondary action'>Secondary Button</button>
        <button class='action primary'>Tertiary Button</button>
      </div>
    </div>
  </section>

  <!-- Завдання №5. Надайте червоний фон всім кнопка назви класу яких починаються зі слова secondary -->

  <!--  Використовуйте селектор префіксу значення атрибута -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 5</div>
    <div class='card-body'>
      <div class='lesson-three-task-five'>
        <button class='secondary'>
          Первинна кнопка
        </button>
        <button class='btn-secondary-action'>
          Другорядна кнопка
        </button>
        <button class='secondary-btn-second'>
          Другорядна кнопка
        </button>
      </div>
    </div>
  </section>

  <!-- Завдання №6.  Застосуйте cелектор початку значення атрибута, щоб стилізувати тільки ті елементи списку,
   класи яких починаються на "b" та встановіть для них зелений колір тексту та білий фон. -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 6</div>
    <div class='card-body'>
      <div class='lesson-three-task-six'>
        <ul>
          <li class='btn-primary'>Елемент 1</li>
          <li class='secondary'>Елемент 2</li>
          <li class='button'>Елемент 3</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Завдання №7. Застосуйте селектор кореня значення атрибута, щоб стилізувати тільки ті елементи списку,
  в назві класів яких зустрічається 'on' та встановіть для них зелений колір тексту та білий фон. -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 7</div>
    <div class='card-body'>
      <div class='lesson-three-task-seven'>
        <ul>
          <li class='btn-primary'>Елемент 1</li>
          <li class='secondary'>Елемент 2</li>
          <li class='button'>Елемент 3</li>
        </ul>
      </div>
    </div>
  </section>

  <!--   Завдання №8. Напишіть CSS-код, який за допомогою конструкції селектор кінцівки значення атрибута виділить білим фоном та синім кольором тексту елементи ,
  які мають в кінці назви класу літеру "s". -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 8</div>
    <div class='card-body'>
      <div class='lesson-three-task-eight'>
        <ul>
          <li>
            <span class='tag t'>tag t</span></li>
          <li>
            <span class='tag s'>tag s</span></li>
          <li>
            <span class='tag'>tag</span></li>
          <li>
            <span class='tag s'>tag s</span></li>
          <li>
            <span class='tag r'>tag r</span></li>
        </ul>
      </div>
    </div>
  </section>

  <!--  Завдання №9. Зробіть першу букву заголовків червоним кольором.-->
  <!--  Використовуйте селектор псевдоелементу першої літери  -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 9</div>
    <div class='card-body'>
      <div class='lesson-three-task-nine'>
        <h2>Це заголовок 2</h2>
        <h2>Це заголовок 3</h2>
      </div>
    </div>
  </section>

  <!--   Завдання №10. Задайте першому рядку жовтий фон. -->
  <!--  Використовуйте селектор псевдоелементу першого рядка -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 10</div>
    <div class='card-body'>
      <div class='lesson-three-task-ten'>
        <p>Цей текст містить багато рядків і перший з них
          буде особливим.</p>
        <p>Цей текст містить багато рядків і перший з них
          буде особливим.</p>
        <p>Цей текст містить багато рядків і перший з них
          буде особливим.</p>
        <p>Цей текст містить багато рядків і перший з них
          буде особливим.</p>
      </div>
    </div>
  </section>

  <!--    Завдання №11. Задайте червоний фон плейсхолдера для інпут-поля. -->
  <!--  Використовуйте цей селектор псевдоелемента плейсхолдера-->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 11</div>
    <div class='card-body'>
      <div class='lesson-three-task-eleven'>
        <input placeholder="Введіть своє ім'я" />
        <input />
        <input placeholder="Введіть своє ім'я" />
        <input placeholder="Введіть своє ім'я" />
      </div>
    </div>
  </section>

  <!--   Завдання №12. Додайте "➤" перед кожним елементом списку;
  Використовуйте селектора псевдоелемента ”попереду” -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 12</div>
    <div class='card-body'>
      <div class='lesson-three-task-twelve'>
        <ul>
          <li>Перший елемент</li>
          <li>Другий елемент</li>
          <li>Третій елемент</li>
        </ul>
      </div>
    </div>
  </section>

  <!--   Завдання №13. Додайте "➤" після кожного елемента списку;
  Використовуйте селектора псевдоелемента ”після” -->

  <section class='m-5 card'>
    <div class='card-header'>Завдання 13</div>
    <div class='card-body'>
      <div class='lesson-three-task-thirteen'>
        <ul>
          <li>Перший елемент</li>
          <li>Другий елемент</li>
          <li>Третій елемент</li>
        </ul>
      </div>
    </div>
  </section>
