:root {
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px; 
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;
    --color-border: #dee2e6;
    --color-border2: #e4eaf2;
    --color-primary: rgb(56, 56, 202);
    --color-white: #fff;
    --color-title: #212529;
    --color-text: #343A40;

    --border-radius: 12px;

    --weight-title: 600;
    --weight-text: 400;

    --page-width: 1000px;
}

.page {
    background: var(--color-white);
    padding: 0 15px;

    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 960px;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 80px;
}

/*===============*/

.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);
}

.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);

    width: 24px;
    height: 24px;

    border-radius: calc(var(--border-radius) / 2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {  
    display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {  
    color: var(--color-text); 
    font-size: var(--size-d);
    text-decoration: none; 

    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

.header_nav_right {
    margin-left: auto;
    width: fit-content;
}

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);
    display: block;
    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);
    display: block;
    margin-bottom: var(--space-l);

    font-weight: var(--weight-title);
}

.main {
    display: flex;
    width: 100%;

    gap: 40px;
}

.messages {
    flex-grow: 40;
    
    background-color: var(--color-white);
    border-radius: var(--border-radius);

    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.10);

    padding: var(--space-l);

    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.messages_title {
    font-size: var(--size-b);
    color: var(--color-title);
    font-weight: var(--weight-text);

    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-border);
}

.messages_link {
    color: var(--color-primary);
    font-size: var(--size-s);
    align-self: flex-end;
    text-decoration: none;

    transition-duration: 0.7s;
    transition-property: opacity, border-color;

    border-bottom: 1px solid transparent;
}

.messages_link:hover {
    opacity: 0.7;
    border-color: var(--color-primary);
}

.form {
    flex-grow: 24;
}

.msg {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);

    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-border);
    position: relative;

    padding-right: var(--space-b);
}

.msg_name {
    font-size: var(--size-d);
    color: var(--color-title);
    font-weight: var(--weight-text);
}

.msg_text {
    font-size: var(--size-d);
    color: var(--color-title);
    font-weight: var(--weight-text);
}

.msg_day {
    position: absolute;
    right: 0;
    top: 0;
}

.advantages {
    display: flex;
    gap: var(--space-l);
}

.advantages > div {
    display: flex;
    flex-direction: column;
    background: #e4eaf2;
}